/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin, padding
  */
* {
    margin: 0;
    padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

html {
    font-size: 62.5%;
}

:root {
    --color-bg: #328fce;
    --color-white: #fcfcfc;
}

body {
    background-color: var(--color-bg);
}

h2,
p {
    color: var(--color-white);
    font-family: sans-serif;
}

p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
}

main.container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: auto;
    align-items: center;
    /* justify-content: center; */
}

main.container > h2.title {
    font-size: 2.5rem;
    font-weight: 700;
}

header,
nav,
section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-white);
    border-radius: 5px;
}

header {
    width: 100%;
    height: 10%;
    margin: 10px;
    padding: 10px;
}

div.content {
    display: flex;
    flex-direction: row;
    height: 75%;
    width: 100%;
}
nav,
section {
}
nav {
    width: 25%;
    margin-right: 5px;
}

section {
    margin-left: 5px;
    width: 75%;
}
