/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin, padding
  */
* {
    margin: 0;
    padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

* {
    font-family: sans-serif;
}

:root {
    --color-bg: #328fce;
    --color-white: #e6e9de;
    --color-gray: rgba(128, 128, 128, 0.493);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-white);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
}

.container > nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

nav > h4 {
    font-size: 2.5rem;
    line-height: 2rem;
    align-self: flex-end;
}

nav > .right_options {
    display: inline-flex;
    flex-wrap: wrap;
}

nav > .right_options > .item {
    display: flex;
    flex-direction: column;
}
nav > .right_options > .item:first-child {
    margin-right: 20px;
}

label {
    font-size: 1.25rem;
}
select {
    font-size: 1.5rem;
    background: transparent;
    outline: none;
    border: none;
    margin-left: -5px;
    border-bottom: 2px solid var(--color-gray);
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    gap: 1rem;
    flex-basis: 500px;
    flex-grow: 1.5;
}

.images > img {
    border: 2px solid var(--color-gray);
}
