$color-bg: rgb(189, 229, 239);
$color-white: rgb(255, 255, 255);
$color-white-95: rgba(255, 255, 255, 0.95);
$color-gray: rgb(54, 54, 54);
$color-gray-25: rgba(113, 112, 115, 0.25);

$color-primary: rgb(255, 96, 103);
$color-accent: rgb(249, 239, 28);
$color-text: rgb(47, 91, 105);
