@import "./partials/base.scss";
@import "./partials/variables.scss";

body {
    height: 100%;
    width: 100%;
    background-color: $color-bg;
    overflow: auto;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .header {
        width: 100%;
        height: 10rem;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            line-height: 2rem;
            cursor: pointer;
            &__name {
                font-size: 2rem;
                font-weight: 700;
                font-family: "Oswald", sans-serif;
                color: $color-black;
                overflow-wrap: normal;
                letter-spacing: 0.1rem;
                line-height: 2rem;
            }

            &__title {
                font-size: 2rem;
                font-weight: 500;
                font-family: "Oswald", sans-serif;
                letter-spacing: 0.2rem;
                color: $color-gray-50;
            }
        }
        &__menu {
            width: 5rem;
            height: auto;
            cursor: pointer;
        }
    }

    .main {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .intro {
            flex: 1;
        }

        .carousel {
            flex: 1;
            width: 400px;
            height: auto;
            &__picture {
                display: flex;
                align-items: center;
            }
        }
        .social {
            flex: 1;
            height: 20rem;
            width: 50px;
            &__buttons {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;
                &__icon {
                    list-style: none;

                    img {
                        width: 2rem;
                    }
                }
            }
        }
    }
}
