/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

/*
    2. Remove default margin, padding
  */
* {
  margin: 0;
  padding: 0; }

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit; }

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate; }

* {
  font-family: sans-serif; }

html {
  font-size: 62.5%; }

body {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  overflow: auto; }

.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .container .header {
    width: 100%;
    height: 10rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container .header__logo {
      line-height: 2rem;
      cursor: pointer; }
      .container .header__logo__name {
        font-size: 2rem;
        font-weight: 700;
        font-family: "Oswald", sans-serif;
        color: black;
        overflow-wrap: normal;
        letter-spacing: 0.1rem;
        line-height: 2rem; }
      .container .header__logo__title {
        font-size: 2rem;
        font-weight: 500;
        font-family: "Oswald", sans-serif;
        letter-spacing: 0.2rem;
        color: rgba(75, 75, 75, 0.5); }
    .container .header__menu {
      width: 5rem;
      height: auto;
      cursor: pointer; }
  .container .main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .container .main .intro {
      flex: 1; }
    .container .main .carousel {
      flex: 1;
      width: 400px;
      height: auto; }
      .container .main .carousel__picture {
        display: flex;
        align-items: center; }
    .container .main .social {
      flex: 1;
      height: 20rem;
      width: 50px; }
      .container .main .social__buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end; }
        .container .main .social__buttons__icon {
          list-style: none; }
          .container .main .social__buttons__icon img {
            width: 2rem; }
