/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin, padding
  */
* {
    margin: 0;
    padding: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}
* {
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}

:root {
    --color-accent: rgb(189, 229, 239);
    --color-white: rgb(255, 255, 255);
    --color-bg: rgba(255, 255, 255, 0.95);
    --color-black: rgb(54, 54, 54);
    --color-gray: rgba(113, 112, 115, 0.25);
    --color-secondary: rgb(30, 27, 80);
}

body {
    width: 100%;
    height: 100%;
    background-image: url("./pattern.jpg");
    background-position: center;
    background-size: cover;
}

main.container {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 2px 3px 5px var(--color-gray);
    border-radius: 0px 20px 20px 0px;
}
main.container .title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--color-black);
    margin-bottom: 20px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.field {
    display: flex;
    width: 150%;
    max-width: 38rem;
}

.input-field {
    position: relative;
    margin: 10px;
    flex-grow: 1.2;
    display: inline-flex;
}
.input-field > input {
    /* min-width: 15rem; */
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-gray);
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.input-field > input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px var(--color-gray);
}
.input-field label {
    margin-left: 10px;
    pointer-events: none;
}

.input-field > input + label {
    background-color: var(--color-white);
    position: absolute;
    transform: translate(0%, 50%);
    top: -50%;
    padding: 0 5px;
    font-size: 15px;
    transition: 0.2s ease-in;
}
.input-field > input:focus + label {
    text-shadow: 2px 2px 5px var(--color-gray);
    font-size: 12px;
    transition: 0.2s ease-in;
}

form.fields button.submit {
    width: 150%;
    max-width: 35rem;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
    outline: none;
    background-color: var(--color-accent);
    color: var(--color-secondary);
    cursor: pointer;
}

form.fields small.signin-text {
    align-self: flex-end;
    margin-right: 20px;
    font-size: 1.2rem;
}

form.fields small.signin-text a {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secondary);
}

@media screen and (max-width: 720px) {
    main.container {
        margin: auto;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    main.container .title {
        font-size: 2.5rem;
    }

    .fields {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .field {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin: auto;
    }
    .input-field {
        width: 100%;
        margin: auto;
    }

    .input-field > input {
        padding: 10px;
        border: 2px solid var(--color-gray);
        border-radius: 1rem;
        transition: 0.2s ease-in-out;
    }
    form.fields button.submit {
        margin: auto;
        width: 100%;
        /* max-width: 32rem; */
        /* margin: 10px; */
    }
}
