@import "./parts/base.scss";
@import "./parts/variables.scss";

body {
    width: 100%;
    height: 100%;
    background-color: $color-bg;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    header {
        width: inherit;
        height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: pink;
        padding-bottom: 0;
        & .banner {
            height: inherit;
            width: inherit;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            background-color: $color-primary;
            &__title,
            &__subtitle {
                color: $color-white;
                font-weight: 600;
            }
            &__title {
                font-size: 1.8rem;
            }
            &__subtitle {
                font-style: italic;
                font-size: 1rem;
            }
        }

        .nav {
            width: inherit;
            &__menu {
                display: flex;
                justify-content: center;
                background-color: $color-accent;
                flex-wrap: wrap;
                &__item {
                    list-style-type: none;
                    margin: 10px;
                    color: $color-text;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }

    main.container {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        width: 80%;
        margin-top: 20rem;
        padding: 2rem;

        h2 {
            color: $color-text;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
}
